html, body {
	 overflow-y: scroll;
	 overflow: -moz-scrollbars-vertical;
}

body {
	margin: 0;
	font: 16px normal 'Ubuntu', Helvetica, Arial, sans-serif, serif;
}

h1, h2,h3,h4,h5{
	font-family: 'Philosopher', arial, serif;
	color: #829C00;
	font-weight: normal;
}

a {
	text-decoration:none;
}

a img {
	border: 0px none;
}

div#container {
	margin: 30px auto;
	padding: 10px;
	width: 900px;
	position:relative;
	padding-bottom: 40px;
}

div#container div#logo {
	width: 100%;
	text-align:center;
	font-size: 50px;
	font-family: 'Lobster', arial, serif;
}

div#container div#logout {
	right:10px;
	top:20px;
	position:absolute;
	text-align: right;
}

div#container div#content {
	margin-top: 20px;

}

fieldset {

}

fieldset legend {
	font-family: Georgia, Arial, sans-serif,serif;
	font-size: 130%;
	color: #829C00;
}

div.line {
	width:100%;
	clear:both;
	padding: 10px 0;
}

div.label {
	width: 250px;
	text-align: right;
	font-size: 22px;
	padding-right: 10px;
	float:left;
	color: #555;
}

div.field {
	font-size: 22px;
	width: 500px;
	float:right;
}

input, select {
	font-size: 17px;
}

a { padding: 5px; }

a:hover {
	background-color: #333;
	color: #fff;
}

table.data {
	width: 100%;
	margin:10px auto;
	border: 0px;
}

table.data td {
	border: 1px dotted #aaa;
	text-align: center;
}

table.data tr.legend td {
	text-align:center;
	text-decoration:underline;
	font-weight:bold;
}

table a {
	margin:0;
	padding:0;
}

.success {color: #0000ff;}

.error {color: red;}

ul li {
	line-height:150%;
}